/*
  Typography
  ==========================================================================
*/

/* ----INTER---- */
$typography70: "Inter-ExtraBold";
$typography60: "Inter-Bold";
$typography50: "Inter-SemiBold";
$typography40: "Inter-Medium";
$typography30: "Inter-Regular";
$typography20: "Inter-Light";
$typography10: "Inter-Extralight";

@font-face {
  font-family: $typography70;
  src: url("../fonts/Inter/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: $typography60;
  src: url("../fonts/Inter/Inter-Bold.ttf");
}
@font-face {
  font-family: $typography50;
  src: url("../fonts/Inter/Inter-SemiBold.ttf");
}
@font-face {
  font-family: $typography40;
  src: url("../fonts/Inter/Inter-Medium.ttf");
}
@font-face {
  font-family: $typography30;
  src: url("../fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: $typography20;
  src: url("../fonts/Inter/Inter-Light.ttf");
}
@font-face {
  font-family: $typography10;
  src: url("../fonts/Inter/Inter-Extralight.ttf");
}
